{% extends 'shoppinglist/base.html' %}

{% block content %}
<h1>Enkle handlelister</h1>
<p>Her kan du lage enkle huskelister og handlelister og dele dem med familiemedlemmer eller andre. Listene fungerer like bra på mobil, nettbrett og PC. 
<a href="{% url 'newuser' %}">Registrer deg gratis i dag</a> og begynn å bruke listene du også!
</p>
<p>
I motsetning til de fleste nettsteder samler vi ikke inn informasjon om deg
for markedsføringsformål. Vi analyserer ikke handlelistene dine. Vi selger ikke
informasjon om deg videre. Vi bruker cookies, men kun for å holde styr på
innloggingen din, og for å sikre at ikke uvedkommende får tak i data du
legger inn.
</p>


{% endblock %}
