{% extends 'shoppinglist/base.html' %}

{% block content %}
<h1>Spørsmål og svar</h1>
<ul class="list-group">
  <li class="list-group-item"><h3>Hvordan deler jeg ei liste med andre?</h3>
  <p>Du kan ikke dele offentlig, men du kan legge inn brukernavnet på en annen
    bruker du ønsker å dele med på siden du oppretter listen. Dersom du ønsker
    å dele en eksisterende liste, må du trykke på redigerknappen, og deretter legge
    inn brukernavnet på den du ønsker å dele med, før du lagrer igjen.
  </p>
</li>
</ul>


{% endblock %}
